{% extends 'base.html' %}

{% block title %}My Orders{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center title">My Orders</h1>
    {% if orders %}
        {% for order in orders %}
            <div class="card mb-3">
                <div class="card-header">
                    <p><span class="card-topic">Order ID:</span> {{ order.id }}</p>
                    <p><span class="card-topic">Status:</span> {{ order.status }}</p>
                    <p><span class="card-topic">Total Price:</span> £{{ order.total_price }}</p>
                    <p><span class="card-topic">Order Date:</span> {{ order.order_date }}</p>
                    {% if order.forward_order %}
                        <p><span class="card-topic">Forward Order:</span> {{ order.forward_order|yesno:"Yes,No" }}</p>
                        <p><span class="card-topic">Forward Order Time:</span> {{ order.forward_order_time }}</p>
                    {% endif %}
                </div>
                <h2 class="text-center my-orders-title">Pizzas in this order:</h2>
                <div class="my-orders-card-body">                    
                    <ul>
                        {% for item in order.orderitem_set.all %}
                            <li>
                                <img src="{{ item.pizza_id.featured_image.url }}" alt="{{ item.pizza_id.name }}" class="img-thumbnail" style="width: 100px; height: auto;">
                                <strong>{{ item.pizza_id.name }}</strong> - Size: {{ item.pizza_id.size }}, Quantity: {{ item.quantity }}, Price: £{{ item.pizza_id.price }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>You have no orders.</h1>
    {% endif %}
</div>
{% endblock content %}