{% extends 'base.html' %}

{% block title %}PizzaMe! Order Pizza Page{% endblock title %}
{% block description %}Order your favorite pizza from PizzaMe!{% endblock description %}
{% block keywords %}pizza, order, food, delivery{% endblock keywords %}
{% block content %}
{% load static %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!-- Title goes between these h2 tags -->
      <h2 class="text-center">Buy a Pizza here <u>TODAY</u></h2>
      <!-- Content goes directly underneath this -->
      <div class="container-fluid">
        <div class="row">
          <!-- Pizza's Available -->
          {% if not user.is_authenticated %}
          <p class="text-center">Please <a href="{% url 'account_login' %}">login</a> to order pizza, or <a href="{% url 'account_signup' %}">Register</a> if you are new here!</p>
          {% endif %}
          <div class="col-12 mt-3 left">
            <div class="row">
              {% for pizza in pizza_list %}
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="image-container">
                      {% if "placeholder" in pizza.featured_image.url %}
                      <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                      {% else %}
                      <img class="card-img-top" src="{{ pizza.featured_image.url }}" alt="{{ pizza.name }}">
                      {% endif %}
                      <div class="image-flash">
                        <p class="Pizza">Pizza: {{ pizza.name }}</p>
                        <p class="Size">Size: {{ pizza.size }}</p>
                        <p class="Price">Price: {{ pizza.price }}</p>
                      </div>
                    </div>                       
                    <p class="card-text">{{ pizza.description }}</p>
                    {% if user.is_authenticated %}
                      {% if cart_order %}
                        {% if order_items %}
                          {% for order_item in order_items %}
                            {% if order_item.pizza_id_id == pizza.id %}
                              <form method="post" action="{% url 'update_pizza_quantity' order_item.id %}" class="d-flex align-items-center">
                                {% csrf_token %}
                                <label for="quantity" class="me-2">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" value="{{ order_item.quantity }}" min="1" class="form-control me-2" style="width: 60px;">
                                <button type="submit" class="btn btn-secondary btn-custom-width">Update</button>
                              </form>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% else %}
                    {% endif %} 
                    {% if user.is_authenticated %}
                      <a href="{% url 'order_pizza' pizza.id %}" class="btn btn-primary">Order</a>
                      {% if cart_order %}
                        {% if order_items %}
                          {% for order_item in order_items %}
                            {% if order_item.pizza_id_id == pizza.id %}
                              <a href="{% url 'delete_pizza_order' pizza.id %}" class="btn btn-danger btn-custom-width">Delete</a>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% endif %}        
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
              {% endif %}
              {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
                </li>
              {% endif %}
          </ul>
        </nav>
    {% endif %}
      </div> 
    </div>
  </div>
</div>
{% endblock content %}
