/* Navbar */
a{
    color: #F1F8FE;
}


.navbar-text a {
    color: #B10629;
}

.navbar-text-left {
    flex: 1;
    text-align: left;
}

.navbar{
    background-color: #fff;
}

.nav-link{
    color: #B10629;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: #784F1C;
}

.active{
    font-weight: bold;
    color: #784F1C !important;
    
}

.navbar-nav .nav-link.active {
    color: #784F1C;
}

/* Body */

body {
    background-color: #AC061C;
    font-family: 'Montserrat', sans-serif;
}

.main-bg {
    background-color: #AC061C;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.card-header{
    text-align:center;
}

.my-orders-card-body{
    padding-left: 4vw;
    padding-bottom: 20px;
}

.my-orders-title{
    padding-top: 1.2vh;
}

.card-topic{
    font-size: 1.2em;
    font-weight: bold;
}

.card-text{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #100000;
    text-align: center;
}

.orderbutton{
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*.updatebutton{
    display: flex;
    align-items: center;
    gap: 10px; 
    padding-left: 3vw; 
    margin-bottom: 10px;
}
*/

.updatebutton {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
}

.deletebutton{
    display: flex;
    justify-content: center;
}


.me-2{
    border-left: 5px;
}

.image-container {
    position: relative;
}

.please-login{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.please-login a{
    color: #fff;
}

.please-login a:hover{
    color: #798539;
}

/* Links */

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Buttons */

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-custom-width {
    width: 100px; 
}

.btn-signup{
    background-color: #FDF7E2;
    color: #100000;
}

.btn-delete,
.btn-signup:hover{
    background-color: #798539;
    color: #100000;

}

.btn-delete,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #000;
    background-color: #856404;
    color: #010000;
    border-width: 2px;
    border-radius: 4px;
    position: relative;
    top: 10px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
}
    
/* Login Page & Register Page*/

.register-title, .logout-title, .password-reset-title,
.login-title{
    color: #fff;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.register-text, .logout-text, .password-reset-text,
.login-text{
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.register-form, .password-reset-form,
.login-form{
    color: #fff !important;
}

.helptext{
    color: #fff;
}

/* Signup */

.login{
    color: #fff !important;
}

.login label{
    color: #fff!important;
}

.login:hover {
    color: #545D27 !important;
}

.logout{
    color: #fff;
}

.logout-center{
    text-align: center;
}

/* Mobile Nav */

.navbar-toggler{
    background-color: #AC061C;
}

.navbar-toggler-icon{
    background-color: #fff;
}

/* Media queries */
/* Very small screens */
@media screen and (max-width: 319px) {
    /* Make all pizza cards the same height for consistency */
    .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
    .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        padding-right: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #545D27;
        color: #545D27;
        font-weight: bold;
        font-size: 1em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

    .updatebutton {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Align items to the center */
    }

    .updatebutton button {
        margin-top: 10px; /* Add spacing above the button */
    }
}
/* Small screens and up */
@media screen and (min-width: 320px) and (max-width: 374px) {
    /* Make all pizza cards the same height for consistency */
    .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
    .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        padding-right: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #545D27;
        color: #545D27;
        font-weight: bold;
        font-size: 1em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

    .updatebutton {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Align items to the center */
    }

    .updatebutton button {
        margin-top: 10px; /* Add spacing above the button */
    }
}

/* Medium devices */
@media screen and (min-width: 375px) and (max-width: 424px) {
     /* Make all pizza cards the same height for consistency */
     .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
    .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        padding-right: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #545D27;
        color: #545D27;
        font-weight: bold;
        font-size: 1em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

    .updatebutton {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Align items to the center */
    }

    .updatebutton button {
        margin-top: 10px; /* Add spacing above the button */
    }
}

/* Large devices */
@media screen and (min-width: 425px) and (max-width: 767px){
     /* Make all pizza cards the same height for consistency */
     .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
    .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        padding-right: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #545D27;
        color: #545D27;
        font-weight: bold;
        font-size: 1em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

    .updatebutton {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Align items to the center */
    }

    .updatebutton button {
        margin-top: 10px; /* Add spacing above the button */
    }
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1279px) {
     /* Make all pizza cards the same height for consistency */
     .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
     .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        padding-right: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #545D27;
        color: #545D27;
        font-weight: bold;
        font-size: 1em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

    .updatebutton {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Align items to the center */
    }

    .updatebutton button {
        margin-top: 10px; /* Add spacing above the button */
    }
}

/* desktops */
@media screen and (min-width: 1280px) {
    /* make all pizza cards the same height for consistency */
    .card {
        border: none;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        background-color: #fff;
    }
    
    .card-img-top {
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        max-width: 100%;
        height:auto;
    }

    .image-flash {
        position: absolute;
        padding-top: 15px;
        bottom: 5%;
        left: -2px;
        min-width: 50%;
        background-color: #fff;
        border-color: #798539;
        color: #798539;
        font-weight: bold;
        font-size: 1.2em;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
        line-height: 0.75;
    }

    .title{
        color: #fff;
        font-size: 3.5em;
        font-weight: bold;
    }

    .updatebutton{
        display: flex;
        align-items: center;
        gap: 10px; 
        margin-bottom: 10px;
        padding-left: 1.5vw;
    }

    .card-body{
        height:550px;
    }
}