* {
    a{
        text-decoration: none;
    }

    a:active{
        text-decoration: underline;
    }
}

/* Navbar */

.navbar-text-left {
    flex: 1;
    text-align: left;
}

.navbar{
    background-color: #fff;
}

.nav-link{
    color: #f20939;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: #d2913f;
}

.active{
    font-weight: bold;
    color: #d2913f;
    
}

/* Body */

body {
    background-color: #f20929;
}

.main-bg {
    background-color: #f20929;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.body-content{
}

.container-fluid {
}

.card {
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    background-color: #fff;
}

.card-body{
    
    width: 400px;
    height: 550px;

}

.card-img-top {
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.image-container {
    position: relative;
}

.title{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    left: -2px;
    min-width: 30%;
    background-color: #fff;
    border-color: #798539;
    color: #798539;
    font-weight: bold;
}

/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #fff;
    border-color: #798539;
} */

/* Links */

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Buttons */

.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-custom-width {
    width: 100px; 
}

.btn-signup,
.btn-edit {
    background-color: #f00;
    color: #f00;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #00f;
    color: #23BBBB;
}

/* Alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}